.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    width: 100%; 
    margin-top: 30px;
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
}

.details{
    margin-bottom: 20px;
}

.mine{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.player{
    width: 350px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: violet;
}

.joinButton{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(34, 105, 236);
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.room{
    outline: none;
    border:  none;
    border-bottom: 2px solid gray;
    font-size: 18px;
    margin-left: 20px;
}

.join{
    font-size: 18px;
}

video{
    width: 100%;
    height: 100%;
}